{% extends "layout.html" %}
{% block content %}
    <h1>About Latitude</h1>
    <h3>This website will show visualizatons that were created in previous assignments.</h3>
    <p>The primary objective is to demonstrate how to use several web development
       concepts to display information.</p>
       
    
<table class="table">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Site Objectives</th>
          </tr>

    </thead>
    <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Has the name of the site on the left of the nav which allows users to return to the landing page from any page.</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Contains a dropdown menu on the right of the navbar named "Plots" that provides a link to each individual visualization page.</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td> At the top of every page, have a navigation menu. </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Provides two more text links on the right: "Comparisons," which links to the comparisons page, and "Data," which links to the data page.</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Is responsive (using media queries). The nav must have similar behavior as the screenshots "Navigation Menu" section (notice the background color change).</td>
        </tr>
          
      </tbody>

</table>



{% endblock %}
