<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/static/main.css">

  
    <title>Temperature</title>

</head>
<body>
        <!-- Start of navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
  
  
              <a class="navbar-brand" href="#">Latitude</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="https://wycislo.github.io/Web-Design-Challenge/index.html">Home</a>
                  <a class="nav-link" href="https://wycislo.github.io/Web-Design-Challenge/templates/about.html">About</a>
                  <a class="nav-link" href="https://wycislo.github.io/Web-Design-Challenge/templates/rice_u.html">Rice University Data Analytics</a>
                </div>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                  Plots
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="temp.html">Max Temperature</a>
                  <a class="dropdown-item" href="humidity.html">Humidity</a>
                  <a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
                  <a class="dropdown-item" href="wind.html">Wind Speed</a>
                </div>
                </div>
            </div>
          </nav>
  
  
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            <p></p>
            <p></p>
            <p></p>
            <p> As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude).
                More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time 
               of the yearthan the northern hemisphere. This may be due to the tilt of the earth at the time of the year
               this data was gathered. 
           </p>
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <p class='text-muted'>Visualizations
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light"><a href="templates/temp.html">Max Temperature</a> </li>
                  <li class="list-group-item list-group-item-light"><a href="templates/humidity.html">Max Humidity</a></li>
                  <li class="list-group-item list-group-item-light"><a href="templates/wind.html">Max wind</a></li>
                  <li class="list-group-item list-group-item-light"><a href="templates/cloudiness.html">Max cloudiness</a></li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </main>
      

      <div class="container">
        <!--Normally these medium columns go full wide on small screen sizes-->
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <div class="box white"><h3>City Latitude vs max Temperature</h3><br>
              <hr class="solid"><br>
              <p>
      
                <!-- alt="City Latitude vs max temperature" class="img-fluid"  style=" max-width: 100%; height: auto;"> --> 
                <img src="../resources/temp.png" alt="City Latitude vs max temperature" class="img-fluid"  style=" max-width: 100%; height: auto;"> 
            </p>
            </div>
          </div>
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>